html {
  box-sizing: content-box;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  text-decoration: none;
}

.wrapperHome {
  background: url("../images/keen_img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #457fca;
  background-blend-mode: overlay;
  overflow: hidden;
}


/*======================================
=            NAVIGATION STYLES         =
======================================*/

.navbar-brand {
  font-family: "Shrikhand", Arial, sans-serif;
  font-size: 2em;
}

ul {
  list-style-type: none;
  margin: 0 7px;
  padding: 0;
  display: inline;
}

/*======================================
=            BACKGROUND STYLES         =
======================================*/

.wrapperBG {
  margin: 9% 0 0 3%;
  padding-bottom: 70px;
}

h1.keenHeader {
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: lighter;
  font-size: 6em;
  letter-spacing: 10px;
  text-shadow: 2px 2px 8px #3d3d3d;
  cursor: default;
}

h2.keenHeader2 {
  color: white;
  font-family: 'Shrikhand', sans-serif;
  font-size: 6.2em;
  margin-right: 20%;
  text-shadow: 2px 2px 10px #3d3d3d;
  cursor: default;
}

/*======================================
=            CONTACT STYLES           =
======================================*/

.wrapperContact {
  margin: 7% 0 5% 0;
  width: 100%;
  background: white cover scroll;
  overflow: hidden;
}

.contact {
  margin: 0 auto;
	min-width: 50%;
  max-width: 100%;
}

#contactForm {
	background: #F9F9F9;
	padding: 25px;
}

#contactForm h3 {
	color: #F96;
	display: block;
  font: bolder 35px "Heebo", sans-serif;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	width: 100%;
}

#contactForm input, textarea {
	width: 100%;
	border: 1px solid #cccccc;
	background: #ffffff;
	margin: 0 0 5px;
	padding: 10px;
}

#contactForm textarea {
	height: 100px;
  resize: none;
}

#contactForm input:hover, textarea:hover {
	-webkit-transition:border-color 0.4s ease-in-out;
	-moz-transition:border-color 0.4s ease-in-out;
	transition:border-color 0.4s ease-in-out;
	border: 1px solid #ccccff;
}

#contact input:focus, #contact textarea:focus {
	outline: 0;
	border: 1px solid #999;
}

#contactForm button[type="submit"] {
	cursor: pointer;
	width: 100%;
  padding: 10px;
	border: none;
	background: #457fca;
  font-size: 15px;
	color: #FFF;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#contactForm button[type="submit"]:hover {
	background: #09C;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/*======================================
=            FOOTER STYLES           =
======================================*/

footer {
  width: 100%;
  background: #0E0E0E;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  padding: 1.5%;
  font: lighter 1.5em;
  color: white;
}

p.keenFooter {
  font: 1.7em "Shrikhand", sans-serif;
  cursor: default;
}

ul.social-icons {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
  cursor: default;
}

ul.social-icons li {
	padding-left: 5px;
	padding-right: 5px;
}

ul.social-icons li a {
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	line-height: 40px;
	transition: all 1s;
}

ul.social-icons li a:hover {
	background-color: #FFFFFF;
}
